/*GENERAL STYLES*/
body {
  font-family: "Roboto", sans-serif;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}
:root {
  --transparent-studio-color: rgba(33, 150, 243, 0.9);
  --main-black-color: rgb(0, 0, 0);
  --main-studio-color: rgba(33, 150, 243, 1);
  --site-nav-color: rgba(33, 33, 33, 1);
  --logo-second-parth: rgba(0, 0, 0, 1);
  --header-contact-color: rgba(117, 117, 117, 1);
  --main-text-color: rgba(255, 255, 255, 1);
  --hero-background-color: rgba(196, 196, 196, 1);
  --active-button-color: rgba(24, 140, 232, 1);
  --description-main-color: #757575;
  --line-up-background-color: rgba(255, 255, 255, 1);
  --bottom-logo-color: rgba(255, 255, 255, 1);
  --bottom-contact-color: rgba(255, 255, 255, 0.6);
  --footer-color: #2f303a;
  --filter-option-color: #f5f4fa;
  --projects-name-color: #212121;
  --white-color: #fff;
  --main-social-icons-color: rgba(175, 177, 184, 1);
  --clients-icons-color: rgba(175, 177, 184, 1);
  --follow-us-icon-background: rgba(255, 255, 255, 0.1);
  --subscribe-imput-color: rgba(255, 255, 255, 0.3);
  --aplication-border-color: rgba(33, 33, 33, 0.2);
  --aplication-placeholder-color: rgba(117, 117, 117, 0.5);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  border: 0;
}

.main-sections-padding {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

label {
  display: block;
}

/*HEADER STYLE*/
.page-header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-up,
.logo-bottom {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.02em;
  width: 145px;
  margin-right: 95px;
}

.logo-first-parth {
  color: var(--main-studio-color);
}

.logo-second-parth {
  color: var(--logo-second-parth);
}

.site-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.site-links {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--site-nav-color);
  padding: 32px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-links.current {
  color: var(--main-studio-color);
}

.site-links.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  background-color: var(--main-studio-color);
  border-radius: 2px;
  height: 4px;
  bottom: -1px;
}

.site-links:hover,
.contacts-bottom:hover,
.studio-adress:hover,
.site-links:focus,
.contacts-bottom:focus,
.studio-adress:focus,
.contacts-up:hover,
.contacts-up:focus,
.contacts-up:hover .contact-icons,
.contacts-up:focus .contact-icons {
  color: var(--main-studio-color);
  fill: var(--main-studio-color);
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.contact-icons {
  margin-right: 10px;
  fill: var(--header-contact-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-up {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--header-contact-color);
  padding: 32px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*MAIN STYLES*/
.hero {
  background-color: var(--hero-background-color);
  padding: 200px 0;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 40);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-text-color);
  width: 700px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  background-color: var(--main-studio-color);
  color: var(--main-text-color);
  border-radius: 4px;
  cursor: pointer;
  min-width: 215px;
  min-height: 50px;
  padding: 10px 30px;
  border: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-button-color);
}

.features {
  padding-bottom: 0;
}

.fuatures-icons-boxes {
  width: 270px;
  height: 120px;
  background-color: var(--filter-option-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-list h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.features-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--description-main-color);
  width: 270px;
}

.our-team {
  background-color: var(--filter-option-color);
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-list-item {
  position: relative;
}

.about-disc-box {
  color: var(--white-color);
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.line-up-list {
  display: flex;
  gap: 30px;
}

.line-up-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--line-up-background-color);
  padding-bottom: 30px;
}

.line-up-list img {
  margin-bottom: 30px;
}

.line-up-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 10px;
  text-align: center;
}

.line-up-list p {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--description-main-color);
  text-align: center;
  margin-bottom: 10px;
}

.social-links-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-links {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--main-social-icons-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icons {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icons:hover,
.social-links-icons:focus,
.follow-us-links:hover .follow-us-icons,
.follow-us-links:focus .follow-us-icons,
.social-links:hover,
.social-links:focus,
.follow-us-links:focus,
.follow-us-links:hover {
  fill: var(--white-color);
  background-color: var(--main-studio-color);
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-links {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: var(--clients-icons-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links:hover .clients-icons,
.clients-links:focus .clients-icons,
.clients-links:hover,
.clients-links:focus {
  border-color: var(--main-studio-color);
  fill: var(--main-studio-color);
}

.clients-icons {
  fill: var(--clients-icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*FOOTER*/

.footer-info {
  background: var(--footer-color);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.bottom-main-box {
  margin-right: 70px;
}

.logo-bottom-parth {
  color: var(--bottom-logo-color);
}

.logo-bottom {
  margin-bottom: 20px;
  display: block;
}

.adress-list > :not(:last-child) {
  margin-bottom: 10px;
}

.studio-adress {
  font-size: 14px;
  line-height: calc(24 / 14);
  font-style: normal;
  color: var(--main-text-color);
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-bottom {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--bottom-contact-color);
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-bottom-box {
  margin-right: 93px;
}

.follow-us-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-text-color);
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.follow-us-list {
  display: flex;
  gap: 10px;
}

.follow-us-links {
  display: flex;
  background-color: var(--follow-us-icon-background);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-us-icons {
  fill: var(--white-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-text-color);
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
}

.subscribe-email-imput {
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid;
  border-color: var(--subscribe-imput-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  outline: transparent;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-email-imput:hover,
.subscribe-email-imput:focus {
  border-color: var(--main-studio-color);
}

.subscribe-email-imput::placeholder {
  color: var(--bottom-contact-color);
}

.subscribe-btn {
  color: var(--white-color);
  display: flex;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--main-studio-color);
  padding: 13px 28px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  gap: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 12px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--active-button-color);
}

/*PORTFOLIO*/

.our-pojects {
  padding: 94px 0;
}

.filter-options {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-option {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  cursor: pointer;
  background-color: var(--filter-option-color);
  border-radius: 4px;
  font-family: "Roboto";
  padding: 6px 25px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, box-shadow;
}

.filter-option:hover,
.filter-option:focus {
  background-color: var(--main-studio-color);
  color: var(--main-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-list-item {
  border-bottom: 1px solid #eeeeee;
  background: #ffffff;
}

.project-links {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}

.project-links:hover,
.project-links:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--projects-name-color);
}

.project-class {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--description-main-color);
}

.project-disc-place {
  position: relative;
  overflow: hidden;
}

.project-disc-box {
  position: absolute;
  background-color: var(--main-studio-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms ease;
}

.project-list-item:hover .project-disc-box {
  transform: translateY(0);
}

.project-disc {
  color: var(--white-color);
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
}

/* backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  padding: 40px 41px;
}

.close-btn {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
}

.close-icon {
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--main-studio-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  width: 448px;
  margin-bottom: 12px;
}

.aplication-form-input {
  background-color: transparent;
  width: 448px;
  height: 40px;
  border: 1px solid;
  border-color: var(--aplication-border-color);
  border-radius: 4px;
  padding: 12px 16px;
  padding-left: 42px;
  outline: transparent;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  margin-bottom: 10px;
}

.aplication-form-input:hover,
.aplication-form-input:focus,
.user-comment:hover,
.user-comment:focus {
  border-color: var(--main-studio-color);
}

.form-icons {
  position: absolute;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  top: 32px;
  left: 15px;
}

.icon-label-position:hover .form-icons,
.icon-label-position:focus-within .form-icons {
  fill: var(--main-studio-color);
}

.icon-label-position {
  position: relative;
}

.imput-titles {
  display: block;
  color: var(--description-main-color);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.user-comment {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid;
  border-color: var(--aplication-border-color);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: transparent;
  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.user-comment::placeholder {
  color: var(--aplication-placeholder-color);
}

.user-agreement {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.agree-check {
  appearance: none;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 1px solid black;
  transition-property: background-image, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  border-radius: 2px;
  margin-right: 9px;
}

.agree-check:checked {
  background-color: var(--main-studio-color);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.politycs-title {
  color: var(--description-main-color);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.polytics-link {
  color: var(--main-studio-color);
  text-decoration: underline;
}

.aplication-submit-btn {
  color: var(--main-text-color);
  background-color: var(--main-studio-color);
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
}

.aplication-submit-btn:focus,
.aplication-submit-btn:hover {
  background-color: var(--active-button-color);
}
